
body.back_adm {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../img/adm.jpg') no-repeat center  center; 
  background-size: cover; 
  color: #5b524b;
}



body.back_index {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('../img/index.jpg') no-repeat center 10%; 
  background-size: cover; 
  color: #5b524b;
}

body.back_proj {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../img/proj.jpg') no-repeat center 10%; 
  background-size: cover; 
  color: #5b524b;
}

body.back_log {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../img/cad.jpg') no-repeat center 25%; 
  background-size: cover; 
  color: #5b524b;
}

body.back_serv {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../img/serv.jpg') no-repeat center 25%; 
  background-size: cover; 
  color: #5b524b;
}

.box_proj {
  display: flex;
  align-items: center;
  background: #ffffff;
  text-align: center;
  position: relative;
  box-shadow: inset 0px 5px 9px -3px #858585;
  border-radius: 30px 30px 30px 30px;
  padding: 1rem;
  margin: 2rem;
}

.container_cad h2 {
  color: #c5c4c4;
}

footer {
  color: #171717;
  margin-top: 3rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #5b524b;
  padding: 1rem;
  text-align: center;
  position: relative;
  top: 30px;
  width: clamp(180px, 50%, 410px);
  height: 38px;
  /*sem virgula entre os valores esq dire dire esq*/
  border-radius: 0px 30px 30px 0px;
  text-align: left;
  /*x, y, blurn, larg cor - insert para por dentro do obj*/
  /*ex: box-shadow: 2px 7px 9px 1px #858585, inset 2px 7px 9px #858585;*/
  box-shadow: inset 0px 5px 9px -3px #858585;
  
}

.logo{
  height: 100%;
  margin: 0.4rem;
  margin-left: -6px;
  margin-right: 23px;
  /* aumenta 160% já que 100% é pequeno*/
  transform: scale(1.6); 
  /* fixa o lado esq e cresce para o centro, algo assim */
  transform-origin: left center; 
}

/*base menu edit_txt*/
form {
  max-width: 400px;
  /* centraliza na tela */
  margin: 3rem auto 1rem auto; 
  background: rgba(255, 255, 255); 
  padding: 2rem;
  border-radius: 30px;
  box-shadow: inset 0px 5px 9px -3px #858585;
}

h1 {
    text-align: center;
    color: #5b524b; 
    margin-top: 3rem;
} 

table {
width: 90%;
margin: 4rem auto; 
}

label {
  display: block;
  margin-top: 1rem;
  
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 12px;
  border: 0.5px solid #ECEBE7;
  
  
  
}

/* admim */
.btn {
  margin-top: 0.6rem;
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 12px;
  background: #f6f5f5;
  box-shadow: 0px 5px 9px -3px #858585;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #5b524b;
  /*tira sublinhado*/
  text-decoration: none;
  /*para transforação, rotação*/
  /*display: inline-block;*/
  /*rotaciona o texto, de baixo para cima, esquerda para direita*/
  /*writing-mode: sideways-lr;*/
}

/* mouse*/
.btn:hover {
  transform: translateY(-2px);
  color: #D94E2A;
}

/* apertado*/
.btn:active {
  color: #5b524b; 
  background: #f6f5f5; 
  box-shadow: inset 0px 5px 9px -3px #858585;
  /* tira o “sobe” do hover */
  transform: translateY(0); 
}

/*animação entrar e sair*/
.btn.out {
  margin-top: 100vh; 
  animation: entrar 2s forwards ease-in-out;
}

@keyframes entrar {
  0% { margin-top: 100vh; }
  100% { margin-top: 1rem; } 
}

.btn.out:active {
  animation: sair 2s forwards ease-in-out;
  box-shadow: 0px 5px 9px -3px #858585;;
}

@keyframes sair {
  0% { margin-top: 1rem; }
  100% { margin-top: 100vh; }
}

/*para  deixar na lateral */
.button_lateral {
  position: fixed;
  left: 25%;;
  top: 4%;
  transform: translateY(-50%);
  display: flex;

  /*um de baixo do outro, txt na horizontal*/
  /*flex-direction: column;*/
  /*margem entre eles*/
  gap: 1rem;
}

/* btn baixo */
.baixo  {
  position:fixed;
  left: 50%;
  bottom: 2rem;
  gap: 1rem;
  display: flex;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.baixo a{
    display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  background: #f6f5f5;
  box-shadow: 0px 5px 9px -3px #858585;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #5b524b;
  text-decoration: none;
}

/* mouse*/
.baixo a:hover {
  transform: translateY(-2px);
  color: #D94E2A;
}

/* apertado*/
.baixo a:active {
  color: #5b524b; 
  background: #f6f5f5; 
  box-shadow: inset 0px 5px 9px -3px #858585;
  /* tira o “sobe” do hover */
  transform: translateY(0); 
}

/*animação entrar e sair*/
.baixo a.out {
  margin-top: 100vh; 
  animation: entrar 2s forwards ease-in-out;
}

@keyframes entrar {
  0% { margin-top: 100vh; }
  100% { margin-top: 1rem; } 
}

.baixo a.out:active {
  animation: sair 2s forwards ease-in-out;
  box-shadow: 0px 5px 9px -3px #858585;;
}

@keyframes sair {
  0% { margin-top: 1rem; }
  100% { margin-top: 100vh; }
}


/* Cadastrar normal */
button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  background: #f6f5f5;
  box-shadow: 0px 5px 9px -3px #858585;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #5b524b;
}

/* mouse*/
button:hover {
  transform: translateY(-2px);
  color: #D94E2A;
}

/* apertado*/
button:active {
  color: #5b524b; 
  background: #f6f5f5; 
  box-shadow: inset 0px 5px 9px -3px #858585;
  /* tira o “sobe” do hover */
  transform: translateY(0); 
}

/*animação entrar e sair*/
button.out {
  margin-top: 100vh; 
  animation: entrar 2s forwards ease-in-out;
}

@keyframes entrar {
  0% { margin-top: 100vh; }
  100% { margin-top: 1rem; } 
}

button.out:active {
  animation: sair 2s forwards ease-in-out;
  box-shadow: 0px 5px 9px -3px #858585;;
}

@keyframes sair {
  0% { margin-top: 1rem; }
  100% { margin-top: 100vh; }
}

/*btn voltar*/
.btn_voltar {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  background: #f6f5f5;
  box-shadow: 0px 5px 9px -3px #858585;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #5b524b;
  text-decoration: none;
}

.btn_voltar:hover {
  transform: translateY(-2px);
  color: #D94E2A;
}

.btn_voltar:active {
  color: #5b524b;
  background: #f6f5f5;
  box-shadow: inset 0px 5px 9px -3px #858585;
  transform: translateY(0);
}

/*centralizar btn voltar e criar */
.button_center {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

/*btn voltar e criar */
.btn_log_criar {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  background: #f6f5f5;
  box-shadow: 0px 5px 9px -3px #858585;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #5b524b;
  text-decoration: none;
  text-align: center;
}

.btn_log_criar:hover {
  transform: translateY(-2px);
  color: #D94E2A;
}

.btn_log_criar:active {
  color: #5b524b;
  background: #f6f5f5;
  box-shadow: inset 0px 5px 9px -3px #858585;
  transform: translateY(0);
}

/*cad_serv*/
.btn_cad_serv {
  width: clamp(180px, 50%, 160px);
  margin-top: 0.5rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  background: #f6f5f5;
  box-shadow: 0px 5px 9px -3px #858585;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #5b524b;
  
}

.btn_cad_serv:hover {
  transform: translateY(-2px);
  color: #D94E2A;
  
}

.btn_cad_serv:active {
  color: #5b524b; 
  background: #f6f5f5; 
  box-shadow: inset 0px 5px 9px -3px #858585;
  transform: translateY(0); 
}

/*cad_sev e ver ser juntos*/
nav {
  margin-top: 9rem;
  display: inline-block; 
  text-align: center;
  
}

nav a {
  margin-top: 1rem;
  margin-right: 0.7rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 5px 9px -3px #858585;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #5b524b;
  text-decoration: none;
 
}

nav a:hover {
  transform: translateY(-2px);
  color: #D94E2A;;
}

nav a:active {
  color: #5b524b; 
  background: #f6f5f5; 
  box-shadow: inset 0px 5px 9px -3px #858585;
  /* tira o “sobe” do hover */
  transform: translateY(0);
}


main h2 {
  text-align: center;   
  margin: 3rem -21rem 1rem auto;
  margin-bottom: 1rem;  
  color: #5b524b;          
}


/*tabelas*/
table {
  width: 90%;
  margin: 4rem auto;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.9); 
  border-radius: 8px;
  overflow: hidden; 
}

table th, table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

table th {
  background-color: #f0f0f0;
}

/*btn index*/
.container_cad {
  position: relative;
  padding: 2rem;
}


.button-top {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start; 
  margin-top: 1rem; 
}


.button-bottom {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /*deixa a direita*/
  justify-content: flex-end; 
}


.button-top a,
.button-bottom a {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 12px;
  background: #f6f5f5;
  box-shadow: 0px 5px 9px -3px #858585;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #5b524b;
  text-decoration: none;
}

.button-top a:hover,
.button-bottom a:hover {
  transform: translateY(-2px);
  color: #D94E2A;
}

.button-top a:active,
.button-bottom a:active {
  color: #5b524b;
  background: #f6f5f5;
  box-shadow: inset 0px 5px 9px -3px #858585;
  transform: translateY(0);
}

/* carrossel */
.carousel-container {
  width: 80%;
  max-width: 380px;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 5px 9px -3px #858585;
}

.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carousel-track img {
  /*pega  toda lagura, sem mostrar próxima img*/
  width: 100%;
  height: auto;
  min-height: 100px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 1rem;
}

/* btn carrossel nav */
.button_center button {
  margin: 0 0.5rem;
}

/* ____________________ pag adim_dasboard____________________ */

.button-top_adm {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-top_adm .btn {
  /* texto de cima para baixo */
  writing-mode: vertical-rl;
   /* arruma aescrita */
  transform: rotate(-180deg);
  transform-origin: center;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-weight: bold;
}