{% extends "base.html" %}
{% block title %}Administração{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">

<body class="back_adm">
    <div class="container_admin">
        <h2>Área Admistrativa</h2>
        
    <div class="button_lateral">
        <a href="{{ url_for('auth.login') }}" class="btn">Logout</a>
        <a href="{{ url_for('clientes.cadastrar_cliente') }}" class="btn">Cad Cliente</a>
        <a href="{{ url_for('clientes.listar_clientes') }}" class="btn">List Cliente</a>
        <a href="{{ url_for('servicos.cadastrar_servico') }}" class="btn">Cad Serviço</a>
        <a href="{{ url_for('servicos.listar_servicos') }}" class="btn">List Serviço</a>
        
    </div>

</div>
</body>
{% endblock %}