<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Ateliê Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body class="back_index">
    <div class="container_cad">
        <h2>Bem-vindo ao Ateliê Online</h2>
        
    <div class="button-top">
        <a href="{{ url_for('auth.login') }}" class="btn btn_log">Login</a>
        <a href="{{ url_for('auth.register') }}" class="btn btn_cad">Cadastro</a>
        <a href="{{ url_for('servicos.projeto') }}" class="btn btn_proj">Projeto</a>
        
    </div>

    <div class="button-bottom">
        <a href="{{ url_for('servicos.estamparia') }}" class="btn btn_est">Estamparia</a>
        <a href="{{ url_for('servicos.conserto') }}" class="btn btn_cons">Conserto</a>
        <a href="{{ url_for('servicos.customizacao') }}" class="btn btn_cust">Customização</a>
    </div>
</div>
</body>
</html>
